<mat-sidenav-container class="tp-container">
  <mat-sidenav #sidenav mode="push" [fixedInViewport]="true">
    <h1>Old Testament</h1>
    <div class="item" *ngFor="let book of books$ | async" (click)="open($event, book)">
      <section class = "tp-section">
        <div *ngIf="book.testament ==='OldTestament'"><button mat-button id={{book.english}}>{{book.chinese}}-{{book.english}} </button>
        <div *ngIf="book.isCollapsed">HelloThere</div>
      </div>
     </section>
    </div>
    <h1>New Testament</h1>
    <div class="item" *ngFor="let book of books$| async">
      <section class = "tp-section">
        <div *ngIf="book.testament ==='NewTestament'"><button mat-button id={{book.english}}>{{book.chinese}}-{{book.english}} </button></div>
     </section>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button color="primary" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-sidenav-content>
</mat-sidenav-container>
