<mat-sidenav-container class="tp-container">
  <mat-sidenav #sidenav mode="push" [fixedInViewport]="true">
    <h1>Old Testament</h1>
    <mat-accordion>
    <div class="item" *ngFor="let book of books$ | async" (click)="open($event, book)">
      <div *ngIf="book.testament ==='OldTestament'">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{book.chinese}}-{{book.english}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-book-chapters
                [bookName]="book.english"
                ></app-book-chapters>
          </mat-expansion-panel>
      </div>  
             </div>
      <h1>New Testament</h1>
      <div class="item" *ngFor="let book of books$| async" (click)="open($event, book)">
        <div *ngIf="book.testament ==='NewTestament'">
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{book.chinese}}-{{book.english}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-book-chapters
                  [bookName]="book.english"
                  ></app-book-chapters>
            </mat-expansion-panel>
        </div>  
        </div>
      </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button color="primary" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-sidenav-content>
</mat-sidenav-container>
