<div>
  <mat-spinner
    *ngIf="showSpinner"
    diameter="40"
    strokeWidth="2"
    color="primary"
  ></mat-spinner>
  <div *ngIf="!showSpinner">
    <div *ngIf="allData">
      <div *ngFor="let verse of combinedData | keyvalue: keepOriginalOrder">
        <ol>
          {{
            addSpace(verse.value, 0)
          }}
        </ol>
        <ol>
          {{
            parsedIndex(verse.key)
          }}.
          {{
            addSpace(verse.value, 1)
          }}
        </ol>
        {{ addSpace(verse.value, 2) }}
      </div>
    </div>
  </div>
</div>
