<div>
  <mat-spinner
    *ngIf="showSpinner"
    diameter="40"
    strokeWidth="2"
    color="primary"
  ></mat-spinner>
  <div *ngIf="!showSpinner">
    <div *ngFor="let verse of verseList | keyvalue: keepOriginalOrder">
      {{ verse.key }} Here now space {{ addSpace(verse.value, 2) }}
      <ol>
        {{
          addSpace(verse.value, 0)
        }}
      </ol>
      <ol>
        {{
          verse.key
        }}.
        {{
          addSpace(verse.value, 1)
        }}
      </ol>
    </div>
  </div>
</div>
